@import "reset";
@import "./varibles/global";
@import "./themes/normal";
@import "./themes/dark";

body {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.app-main {
    display: flex;
}

.content-page {
    flex-grow: 1;
    padding: 10px;
}
