.Sidebar {
  height: 100vh;
  width: var(--sidebar-width);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width .3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}