.app.light {
  --bg-color: #F7F7F7;
  --inverted-bg-color: #262A39;

  --primary-color: #FF3E17;
  --secondary-color: #F9D3CB;
  --inverted-primary-color: #FF3E17;
  --inverted-secondary-color: #F9D3CB;
}