.AppLink {
  color: var(--primary-color);
  transition: all 0.3s ease;

  &:hover {
    opacity: 0.8;
  }
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: rgba(85, 102, 255, 1);
}
